body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #f7f7f7;
}

header {
  background:#4694ed;
  padding: 15px;
  text-align: center;
  color: white;
  font-size: 20px;
}

.container {
  padding: 15px;
}

.chat-box {
  height: 65vh;
  overflow-y: auto;
  padding: 10px;
  background: white;
  border-radius: 10px;
}

.message {
  padding: 10px;
  margin: 10px 0;
  max-width: 70%;
  border-radius: 10px;
}

.left {
  background: #e0e0e0;
}

.right {
  background: #4694ed;
  color: white;
  margin-left: auto;
}


.input-area {
  display: flex;
  margin-top: 10px;
}

textarea {
  flex: 1;
  padding: 10px;
  border-radius: 10px;
  border: 1px solid #bbb;
  resize: none;
  font-family: Arial;
}

button {
  padding: 10px 15px;
  margin-left: 10px;
  border: none;
  background: #4694ed;
  color: white;
  border-radius: 10px;
  cursor: pointer;
}


.post {
  background: white;
  padding: 15px;
  border-radius: 10px;
  margin-bottom: 15px;
  box-shadow: 0 0 4px rgba(0,0,0,0.1);
}

.post h3 {
  margin: 0 0 10px 0;
}


.nav-btns {
  display: flex;
  justify-content: center;
  gap: 28px;              
  background: #4694ed;
  padding: 12px 0;
  position: fixed;
  bottom: 0;
  width: 100%;
}

.nav-item {
  background: white;
  color: #0f0f0f;
  padding: 10px 18px;
  border-radius: 25px;    
  font-size: 16px;
  font-weight: bold;
  text-decoration: none;
  display: flex;
  align-items: center;
  gap: 6px;
  transition: 0.2s ease;
}


.nav-item:hover {
  background: #e3e3e3;
}
